@import url("./global.css");

.container {
  width: 100%;
  max-width: calc(315px + 2rem);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.containerWide {
  width: 100%;
  max-width: calc(375px + 2rem);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.center {
  align-items: center;
}
.gap10 {
  gap: 10px;
}
.gap30 {
  gap: 30px;
}
.adressHeader {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}
.headerFirst {
  font-size: 12px;
  color: #b3b3ba;
  padding: 10px 15px;
  background-color: #f5f5fa;
}

.language {
  width: 32px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 1;
  z-index: 1;
  gap: 10px;
}
.check:hover + .language {
  background-color: #f5f5fa;
  border-radius: 8px;
}
.form {
  position: relative;
}
.check {
  width: 32px;
  height: 32px;
  z-index: 10;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.check:focus ~ .language {
  background-color: var(--fill-color);
  color: #ffffff;
  border-radius: 8px;
}
.phoneNumber {
  font-size: 16px;
}
.dot,
.fb {
  display: none;
}

.logo > a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}
.logo > a > img {
  max-width: 70px;
}
.logo > a > img + img {
  max-width: 11px;
}
.logo span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
}

.burger {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 65px;
  right: 15px;
}
.burger span {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #323264;
  position: absolute;
  left: 7px;
  opacity: 1;
}
.checkbox {
  position: absolute;
  top: 65px;
  right: 15px;
  width: 32px;
  height: 32px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.burger span:first-child {
  top: 8px;
}
.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 15px;
}
.burger span:last-child {
  top: 22px;
}
.checkbox:hover + .burger {
  background-color: #e6e6f0;
  border-radius: 8px;
}
.checkbox:checked + .burger span:first-child,
.checkbox:checked + .burger span:last-child {
  opacity: 0;
}
.checkbox:checked + .burger span:nth-child(2) {
  transform: rotate(45deg);
  background-color: var(--fill-color);
}
.checkbox:checked + .burger span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: var(--fill-color);
}
.checkbox:checked + .burger {
  position: fixed;
  z-index: 13;
}
.checkbox:checked {
  position: fixed;
  z-index: 99;
}
.checkbox:checked ~ .menu-dropDown {
  display: flex;
}
.menu-dropDown {
  background-color: rgba(50, 50, 100, 0.7);
  position: fixed;
  inset: 0;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  display: none;
  z-index: 10;
}
.navigation {
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 64px 12px 12px;
  z-index: 11;
  gap: 15px;
  color: var(--text-color-blue);
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}
.navigation li {
  width: 100%;
  margin-right: 8px;
  margin-left: 8px;
  background-color: #f5f5fa;
  text-align: center;
  border-radius: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color-blue);
}
.navigation li :hover {
  background-color: #e6e6f0;
  color: var(--fill-color);
  text-decoration: underline;
}

.headerSecond {
  padding: 15px;
  display: flex;
}

h1 {
  font-size: 30px;
  line-height: 37px;
  background: -webkit-linear-gradient(0.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #f5f5fa;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  text-align: center;
  align-items: center;
  gap: 25px;
}
.adress {
  font-weight: 400;
  color: #323264;
}
.onMap {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-color-blue);
}
.svgFB > svg > path:hover,
.fb > path:hover {
  fill: var(--fill-color);
}
.phone {
  color: #46466e;
}
.email {
  color: var(--text-color-blue);
}
.email:hover,
.onMap:hover {
  color: var(--fill-color);
}

.copyRight {
  font-weight: 400;
  color: #b3b3ba;
}

.contactAdress,
.contactPhone {
  border-bottom: 2px solid #e6e6f0;
  padding-bottom: 30px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}
.contactPhone p {
  margin-top: 15px;
}
.contactFB {
  color: var(--text-color-blue);
  margin-top: 35px;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
}
.contactFB:hover {
  color: var(--fill-color);
}

.contactForm-background {
  background-color: var(--background-color-lightGrey);
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contactForm {
  position: relative;
  width: 100%;
  padding: 0 30px 30px;
}
.helpForm {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(36, 163, 255, 0);
  margin-bottom: 15px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  outline: none;
}
.helpForm.message {
  min-height: 130px;
  resize: none;
  overflow: auto;
}

.helpForm:hover {
  border: 1px solid var(--text-color-blue);
}
.helpForm:focus {
  border: 1px solid var(--text-color-blue);
}
.helpForm:invalid {
  border: 1px solid #ff0000;
}

::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b3b3ba;
}
.contactText {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  margin: 15px 0;
}
.btnBlue {
  width: 100%;
  color: #ffffff;
  background-color: var(--text-color-blue);
  border: none;
  border-radius: 12px;
  padding: 18px 66px;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  cursor: pointer;
}

.btnBlue:hover {
  background-color: #0085ff;
}
.btnBlue:active {
  background-color: #006ccf;
}
