:root {
  --main-color: #1d2f38;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
  padding: 0;
}

html {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: var(--main-color);
  font-size: 18px;
}
.container {
  width: 100%;
  max-width: calc(1150px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/*----------------------------Header --------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 8px rgba(83, 109, 122, 0.29);
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 15px 0 16px 0;
}

.menu__nav {
  display: flex;
  gap: 30px;
  margin: 0 auto 0 30px;
}

.menu__item {
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
}

.menu__list {
  display: flex;
  gap: 60px;
}

.header__btn {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__btn-text {
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
}
.header_button-img {
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #fead1c;
}
.menu__link:hover,
.header__btn-text:hover {
  color: #589cbe;
}
